body {
    background-color: #5aafb5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    animation: higher 2s alternate-reverse infinite;
    max-height: 3rem;
    color: crimson;
}
a {
    text-decoration: none;
    color: #00e68a;
}

@keyframes higher {
    0% {
        font-size: 3rem; color: red;
    } 50% {
        font-size: 3rem; color: green;
    }
    100% {
        font-size: 3rem; color: blue;
    }
}

.game-board {
    position: relative;
    background-color: #2f5060;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 80vh; */
    margin: 3rem 30%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    
}


.card {
    margin: 1rem;
    border: 1px solid white;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00e68a;
}
.card-container {
    position: relative;
}

.card-hidder {
    width: 6rem;
    left: 1rem;
    top: 1rem;
    background-color: rgb(78, 153, 31);
    height: 6rem;
    position: absolute;
    border: black 1px solid;
}

.flip .card {
    rotate: 0deg;
    z-index: 1;
    transition: 1s;
}

.button-container {
    margin: 0 auto;
    max-width: 5rem;
    align-items: center;
}

.reset {
    width: 5rem;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -2rem;
    padding: 0.7rem ;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(78, 153, 31);
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    position: relative;
}

.tutorial {
    display: flex;
    flex-direction: column;
    margin: 4rem 15% ;
}

pre {
    background-color: black;
}
code {
    font-family: Consolas,"courier new";
    color: rgb(37, 220, 20);
    /* background-color: #f1f1f1; */
    padding: 2px;
    font-size: 105%;
}

details {
    width: 80%;
    margin: 0 auto ;
    background: #776d6d;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    overflow: hidden;
  }
  
  summary {
    padding: 1rem;
    display: block;
    background: #333;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 1.5rem;
    color:#2f5060;
  }