body {
    background-color: #5aafb5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.game-board {
    background-color: #2f5060;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80vh;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}


.card {
    margin: 1rem;
    border: 1px solid white;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    position: relative;
}

.card-hidder {
    width: 6rem;
    left: 1rem;
    top: 1rem;
    background-color: rgb(78, 153, 31);
    height: 6rem;
    position: absolute;
}

.flip .card {
    rotate: 0deg;
    z-index: 1;
    transition: 1s;
}